
<p>
  <mat-toolbar color="#303132">
     <span> 
         <a>Quest</a>
     </span>

    <a mat-button>digiDocQ</a>

    <span class="material-icons">
      settings
      </span>
      
    <a mat-button>Layout Configure</a>

    <a mat-button>Document Import</a>

    <span class="material-icons">
      notifications
      </span>
  </mat-toolbar>
</p>
<div class="container">
<p >Welcome to </p>
</div>
<h1>DigiDocQ</h1>
<div class="center">
  <section class="copy">
      <img mat-card-sm-image src="../../assets/images/Login/undraw_setup_re_y9w8@2x.jpg" alt="logo">
  </section>
</div>








