<div clas="main">
<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div> 
      <button mat-button>
        <span> <img mat-card-lg-image src="../../assets/images/Dashboard/Group 16004@2x.png" alt="logo"></span>
      </button>
      <h3 class="digi">digi</h3>
      <h3 class="Docq">DocQ</h3>
      <button mat-button  type="click" style=" top: -8px;
      left: 250px;
      width: 14px;
      height: 14px; margin: -22px 30px 12px;">
     <span class="material-icons" >settings</span>
      </button>
      <h3 class="Layout">Layout Configure</h3>

      <button mat-button type="new" style="top: 31px;
            top:-9px;
            left: 383px;
            width: 25px;
            height:5px;
            margin:-25px 100px 12px;">  <span class="material-icons" >receipt_long </span></button>
              <h3 class="Document">Document Import</h3>
   
     </div>
    <div>
      <button mat-button> <span class="material-icons">notifications</span></button>
      <button mat-button> <span><img mat-card-avatar src="../../assets/images/Dashboard/Ellipse 65.jpg" alt="logo"></span></button>
      <button mat-button routerLink="/samual J">samual</button>
    
    </div>
    </mat-toolbar-row>
</mat-toolbar>

<div container="box">
  <div style="border-radius: 12px solid #28c9ac; width: 1480px;">
    <h3 style="margin:20px 21px -2px;">Layouts</h3>

    <span class="material-icons" style="padding-left: 20px; padding-top: 10px; color: #A3B8BF;">list </span>
    &nbsp;&nbsp;
    <a routerLink="/layout"><button  type="submit" class="btn btn-primary"style="top: 154px;
      left: 1218px;
      width: 175px;
      height: 39px;
      margin-top:-43px;
      margin-left:1288px;
      margin-bottom:25px;
    
      
      /* UI Properties */
      background: var(--unnamed-color-177e89) 0% 0% no-repeat padding-box;
      background: #177E89 0% 0% no-repeat padding-box;
      border-radius: 4px;
      opacity: 1;" > + &nbsp; &nbsp;New Layout</button></a>

<div class="container">  
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 01</h5> 
    <br>
    <tr>
     &nbsp;<th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
      &nbsp; <td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
         &nbsp;<th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
          &nbsp; <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-sm-image src="./../assets/images/Dashboard/Group 18025@2x.jpg" style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-sm-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-sm-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div>  
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 02</h5> 
    <br>
    <tr>
      &nbsp;<th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
        &nbsp;<td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
        &nbsp; <th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
            &nbsp; <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 18025@2x.jpg" style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div>  
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 03</h5> 
    <br>
    <tr>
      &nbsp;<th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
        &nbsp;<td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
        &nbsp; <th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
            &nbsp; <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 18025@2x.jpg" style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div>  
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 04</h5> 
    <br>
    <tr>
      &nbsp;<th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
        &nbsp; <td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
        &nbsp;<th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
            &nbsp;  <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 18025@2x.jpg"style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div>  
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 05</h5> 
    <br>
    <tr>
      &nbsp; <th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
        &nbsp; <td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
        &nbsp;  <th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
            &nbsp;   <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 18025@2x.jpg"style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div>  
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 06</h5> 
    <br>
    <tr>
      &nbsp;<th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
        &nbsp;  <td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
        &nbsp;  <th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
            &nbsp;  <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 18025@2x.jpg" style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div> 
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 07</h5> 
    <br>
    <tr>
      &nbsp;<th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
        &nbsp; <td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
        &nbsp;  <th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
            &nbsp;  <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 18025@2x.jpg" style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div>  
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 08</h5> 
    <br>
    <tr>
      &nbsp; <th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
        &nbsp; <td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
        &nbsp;  <th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
            &nbsp;   <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 18025@2x.jpg" style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div>  
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 09</h5> 
    <br>
    <tr>
      &nbsp;  <th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
        &nbsp;   <td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
        &nbsp;   <th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
            &nbsp;   <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 18025@2x.jpg" style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div>  
  <div class="item item1">  
    <div class="img"></div> 
    <br>
    <h5>Layout 10</h5> 
    <br>
    <tr>
      &nbsp;<th>05</th>
     <th>&nbsp; &nbsp;</th>
       <th>03</th>
      </tr>
      <tr>
        &nbsp; <td>No. of Documents</td>
       <td>
         &nbsp;
       </td>
       <td>No. of Pages</td>
       </tr>
       <br>
       <tr>
        &nbsp;   <th>Manual</th>
         <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
           <th>14/02/2022</th>
          </tr>
          <tr>
            &nbsp;    <td>Mode selected</td>
           <td>
             &nbsp;
           </td>
           <td>Date Created</td>
           </tr>
       <hr>
       <a (click)="search()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 18025@2x.jpg" style=" margin: 5px 52px 4px;"></a>
             
             <a  (click)="edit()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15501@2x.jpg" style=" margin: 0px -48px 0px"></a>
            
             <a  (click)="delete()"><img mat-card-md-image src="./../assets/images/Dashboard/Group 15502@2x.jpg" style="margin: 7px 55px 7px;"></a>
  </div>  
</div>


  </div>
  
  
</div>
</div>